.env
.env

debug.log
error.log
.DS_Store
log.txt
logs/log.txt
logs/yenisirketkaydi.log
mail_log.txt

# Large SQL dumps
*.sql
!sql/*.sql
*.zip

# Executables
*.exe
wkhtmltopdf
ngrok.exe

# Large log files
debug.log
error.log

# B2B GEMAS folder with large files
B2B GEMAS/


# Dependencies
/vendor
/node_modules
