version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "80"
    labels:
      - traefik.enable=true
      - traefik.http.routers.gemas_portal.rule=Host(`hs0cg04ccs0wk00kkss8gwso.195.175.85.186.sslip.io`)
      - traefik.http.routers.gemas_portal.entrypoints=http
      - traefik.http.services.gemas_portal.loadbalancer.server.port=80
    depends_on:
      - db
      - redis
    networks:
      - coolify
      - gemas_portal_network

  db:
    image: mariadb:10.6
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - gemas_portal_network

  redis:
    image: redis:alpine
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - gemas_portal_network

volumes:
  mysql_data:
  redis_data:


networks:
  coolify:
    external: true
  gemas_portal_network:
    driver: bridge
